<header class="mt-10">
  <nav class="d-flex align-items-centers justify-content-between" style="background-color: #272C3A;">
    <!-- header nav -->
    <div class="">
      <a href="/login" class="navbar-item">
        <img src="../assets/img/logo_aws.svg">
      </a>
    </div>
    <h2 style="color: white;">Amplify Angular</h2>
    <div class="navbar-nav" style="background-color: orange;">
      <button style="border-color: orange;background-color: orange; color: rgb(73, 82, 95)" class="btn btn-primary"
        (click)="logout()">Logout</button>
    </div>
  </nav>
</header>
