<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>


<nav class="navbar" style="background-color: #272C3A;">
    <!-- header nav -->
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="../assets/img/logo_aws.svg">
        </a>
    </div>
    <h2 style="color: white;">Amplify Angular</h2>
    <div class="navbar-nav" style="background-color: orange;">
        <button style="border-color: orange;background-color: orange; color: rgb(73, 82, 95)" class="btn btn-primary"
            (click)="logout()">Logout</button>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron" style="background-color: #3b4550; height:100vh;">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>