<div class="d-flex justify-content-around">
  <div class="card  mt-5" style="background-color: orange;">
    <div class="card-body">
      <h4 class="card-text" style="text-align: center;">AWS Amplify Cognito Demo</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{user?.attributes?.email}}</li>
      <li class="list-group-item">{{user?.attributes?.phone_number}}</li>
    </ul>
  </div>

  <div class="align-self-center">
    <a name="storage" id="storage" class="align-self-center btn btn-primary mt-5" href="/storage"
      role="button">Storage</a>
  </div>

</div>